---
- name: template instackenv.json
  template: 
    src: instackenv.json.j2
    dest: /home/stack/instackenv.json

- name: Import instackenv.json
  shell: "source /home/stack/stackrc && openstack baremetal import instackenv.json"
  args: 
    chdir: "/home/stack"
  become: true
  become_user: stack

- name: Wait 30 seconds for nodes to register with ironic.
  pause: seconds=30

- name: Baremetal configure boot.
  shell: "source /home/stack/stackrc && openstack baremetal configure boot"
  args: 
    chdir: "/home/stack"
  become: true
  become_user: stack

- name: Start introspection
  shell: "source /home/stack/stackrc && openstack baremetal introspection bulk start"
  args: 
    chdir: "/home/stack"
  become: true
  become_user: stack
