{
  {% for instack in instacklist %}"{{ instack.nickname }}": {
    "uuid": "{{ instack.uuid }}",
    "driver_info": {
      "power": {
        "ipmi_username": "{{ instack.pm_user }}",
        "ipmi_address": "{{ instack.pm_addr }}",
        "ipmi_password": "{{ instack.pm_password }}"
      }
    },
    "nics": [
      {
        "mac": "{{ instack.mac }}"
      }
    ],
    {% if instack.custom_image is defined %}
    "instance_info": {
      "image_source": "http://192.168.10.10:8080/centos_generic.qcow2",
      "image_checksum": "c116607a31b1ef83dbd0afc46e8e6bd9"
    },
    {% endif %}
    "driver": "agent_ipmitool",
    "ipv4_address": "{{ instack.ip_address }}",
    "properties": {
      "cpu_arch": "x86_64",
      "ram": "{{ instack.memory }}",
      "disk_size": "{{ instack.disk }}",
      "cpus": "{{ instack.cpu }}",
      "root_device": {
        "{{ instack.root_device_type }}": "{{ instack.root_device }}"
      }
    },
    "name": "{{ instack.nickname }}"
  }{% if not loop.last %},
  {% endif %}
  {% endfor %}
}